name: NodeJS CI with PostgreSQL

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    services:
      postgres:
        image: postgres:latest
        env: 
          POSTGRES_USER: gary
          POSTGRES_PASSWORD: gary123
          POSTGRES_DB: garments_test
        ports:
        - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
        
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: npm install
    - name: create postgresql tables
      run: PGPASSWORD=gary123 psql -h localhost -U gary -d garments_test -a -f ./sql/garment.sql
      run: PGPASSWORD=gary123 psql -h localhost -U gary -d garments_test -a -f ./sql/data.sql
    - name: run tests with postgresql
      run:
        npm test
      env:
        DATABASE_URL: postgres://gary:gary123@localhost:5432/garments_test